/* CSS para Outgunned Adventure
https://codepen.io/sosuke/pen/Pjoqqp
*/
:root {
	--theme-color:  #634123;
	--director-color: #134c4b;
	--background-imagen: url('../assets/Fondo OutgunnedAdventure.webp')center;
	--background-imagen-chat: url('../assets/Fondoadv.webp')center;
	--filter-color: invert(24%) sepia(11%) saturate(2754%) hue-rotate(346deg) brightness(93%) contrast(84%);
	--spotlight-icon: url('../assets/Spotlight_Adventure_black.webp');
	--adrenaline-text: '¡Suerte!';
	--bullet-text: 'Bala';
	--bullet-image: url('../assets/checkbala_black.webp');
	--backup-text: 'Refuerzos';
	--backup-image: url('../assets/checkrefuerzos_black.webp');
	--bluff-text: 'Farol';
	--bluff-image: url('../assets/checkfarol_black.webp');
}
@font-face {
    font-family: "OutgunnedDice-Regular";
    src: url('../assets/OutgunnedAdventure_Regular.otf');
}