/* CSS para Outgunned Mighty Swords
https://codepen.io/sosuke/pen/Pjoqqp
*/
:root {
	--theme-color:  #b3251b;
	--director-color: #004f82;
	--background-imagen: url('../assets/Fondo Outgunned_WeirderThings.webp')center;
	--filter-color: invert(15%) sepia(57%) saturate(4084%) hue-rotate(351deg) brightness(106%) contrast(91%);
	--spotlight-icon: url('../assets/Spotlight_MightySwords_black.webp');
	--adrenaline-text: '¡Adrenalina!';
	--bullet-text: 'Hoja';
	--bullet-image: url('../assets/BulletBlade_black.webp');
	--backup-text: 'Refuerzos';
	--backup-image: url('../assets/checkrefuerzos_black.webp');
	--bluff-text: 'Farol';
	--bluff-image: url('../assets/checkfarol_black.webp');
}