/* CSS para Outgunned Star Raiders
https://codepen.io/sosuke/pen/Pjoqqp
*/
:root {
	--theme-color:  #004f82;
	--director-color: #823300;
	--background-imagen: url('../assets/Fondo Outgunned_StarRaiders.webp')center;
	--filter-color: invert(16%) sepia(40%) saturate(6608%) hue-rotate(189deg) brightness(90%) contrast(101%);
	--spotlight-icon: url('../assets/Spotlight_StarRiders_black.webp');
	--adrenaline-text: '¡Adrenalina!';
	--bullet-text: 'Bala';
	--bullet-image: url('../assets/checkbala_black.webp');
	--backup-text: 'Refuerzos';
	--backup-image: url('../assets/checkrefuerzos_black.webp');
	--bluff-text: 'Farol';
	--bluff-image: url('../assets/checkfarol_black.webp');
}